.window {
    padding: 0;
    background: rgba(221, 221, 221, 0.35);
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, .15);
    backdrop-filter: blur(4px);
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 14px;
    transition: 0.1s;
    flex-direction: column;
}

.chunk-wrapper {
    background: rgba(221, 221, 221, 0.5);
    border-radius: 14px;
    width: 95%;
}

.chunk-tile {
    background: rgba(221, 221, 221, 0.65);
    border-radius: 14px;
    width: 95%;
}

.error-tile {
    background: rgb(230, 230, 230);
    border-radius: 14px;
    width: 95%;
}

.heading-tile {
    padding: 5px;
    background: rgba(129, 129, 129, 0.3);
}

.input-heading {
    text-align: left;
    width: 100%;
    margin-bottom: 0;
}

.expand-btn {
    padding: 8px;
    background: rgba(129, 129, 129, 0.4);
    border-radius: 14px;
    border: none;
    transition: 0.2s;
}

.expand-btn:hover {
    cursor: pointer;
    background: rgba(129, 129, 129, 0.4);
    transform: scale(0.9);
    border-radius: 14px;
}

.inner-tile {
    background: rgba(215, 215, 215, 0.8);
    border-radius: 14px;
    width: 95%;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
}

.custom-file-select {
    width: 40%;
    padding: 14px;
    border: 0;
    margin-top: 1%;
    margin-bottom: 1%;
    background: rgba(0, 119, 255, 0.3);
    border: none;
    border-radius: 14px;
    outline: none;
    font-weight: bold;
    transition: all 0.3s;
}

.droparea {
    background: rgba(2, 115, 245, 0.15);
    border-radius: 14px;
    width: 95%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
}

.highlight {
    background: rgba(0, 140, 255, 0.5);
    transform: scale(0.97);
    transition: all 0.3s;
}

.highlight .custom-file-select {
    background: rgba(0, 255, 55, 0.616);
    transition: all 0.3s;
}

.audio-tile {
    background: rgba(129, 129, 129, 0.2);
    padding: 20px;
    border-radius: 14px;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s;
    overflow-x: hidden;
}

.audio-element {
    width: 33%;
    padding: 5px;
    border-radius: 14px;
}

.file-selection {
    background: rgba(129, 129, 129, 0.2);
    padding: 20px;
    border-radius: 14px;
    width: 40%;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 0.5s;
}

.progress-wrap {
    background: rgba(68, 68, 68, 0.45);
    width: 98%;
    height: 4vh;
    display: flex;
    align-items: center;
}

.progress-wrap div {
    height: 100%;
}

.contains-files {
    opacity: 1;
    transition: all 0.5s;
}

.file-wrapper {
    background: rgba(0, 76, 255, 0.15);
    min-height: 20px;
    padding: 8px;
    border-radius: 14px;
    width: 99%;
}

input[type=file] {
    display: none;
}

input {
    width: 95%;
    text-align: left;
    padding: 14px;
    border: 0;
    background: rgba(68, 68, 68, 0.151);
    border: none;
    border-radius: 14px;
    outline: none;
    font-size: 20px;
    transition: 0.25s;
}

input:focus {
    width: 98%;
    color: white;
    background-color: rgba(68, 68, 68, 0.356);
    border: none;
}

select {
    width: 50%;
    text-align: left;
    padding: 14px;
    border: 0;
    background: rgba(68, 68, 68, 0.151);
    border: none;
    border-radius: 14px;
    outline: none;
    font-size: 20px;
    transition: 0.25s;
}

select:focus {
    width: 50%;
    color: white;
    background-color: rgba(68, 68, 68, 0.356);
    border: none;
}

.image-preview {
    max-width: 350px;
    max-height: 250px;
}

.flex-start {
    width: 95%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

textarea {
    width: 95%;
    text-align: left;
    padding: 14px;
    border: 0;
    background: rgba(68, 68, 68, 0.151);
    border: none;
    border-radius: 14px;
    outline: none;
    font-size: 20px;
    transition: 0.25s;
}

textarea:focus {
    width: 98%;
    color: white;
    background-color: rgba(68, 68, 68, 0.356);
    border: none;
}

.check {
    width: 2%;
}

.check:focus {
    width: 2%;
}

.trash-btn:hover {
    cursor: pointer;
    background: rgba(129, 129, 129, 0.4);
    transform: scale(0.9);
    border-radius: 14px;
}

.trash-btn:hover i {
    transition: 0.2s;
    transform: scale(0.9);
}

.user-tile {
    border-radius: 14px 14px 0 0;
    width: 100%;
    backdrop-filter: blur(3px);
    /* border-radius: 14px;*/
}

.action-button {
    width: 15%;
    padding: 12px;
    display: block;
    text-align: center;
    background-color: rgba(4, 43, 216, 0.35);
    border: none;
    border-radius: 14px;
    color: white;
    font-weight: 700;
    transition: 0.25s;
}

.action-button:hover {
    width: 20%;
    background-color: rgba(4, 43, 216, 0.5);
}

.create-button {
    width: 50%;
    padding: 12px;
    display: block;
    text-align: center;
    background-color: rgba(4, 216, 4, 0.534);
    border: none;
    border-radius: 14px;
    color: white;
    font-weight: 700;
    transition: 0.25s;
}

.create-button:hover {
    width: 55%;
    background-color: rgba(4, 216, 4, 0.904);
}