<div class="tutorial-wrapper bg-info">
    <div class="bg-white rounded shadow slide-container">
        <!--===================================================================================== SLIDE 0 - Welcome to Corrector Cat ==========================================================================================-->
    </div>
    <div class="bg-white rounded shadow slide-container" id="slide-0">
        <h2 class="text-center font-weight-bold text-gamelet mt-3">Welcome to Corrector Cat!</h2>
        <p class="text-center ml-5 mt-4 mr-5 tutorial-text">
            My name is Corrector Cat and I am happy that you’re joining me on my adventure. <br>Let’s sink in into the world of stories. We will read and listen to different stories. <br>But the reader makes many mistakes. <br><br>Help me to correct him,
            so he can become a purrrfect reader as well.
        </p>
        <div class="d-flex mt-3 justify-content-center position-relative">
            <img src="../../assets/img/kitty-avatars/svg/050-kitty.svg" width="15%" height="15%" class="cat-land mt-4" id="welcome-cat">
            <span id="scaling-bg" class="intro-animation"></span>
        </div>
        <div class="button-wrapper">
            <!--<button class="m-1 btn btn-lg btn-outline-secondary">Back <i class="fa fa-chevron-circle-left"></i></button>-->
            <button (click)="clickNext()" class="m-1 float-right btn btn-lg btn-outline-success">&nbsp;<i class="fa fa-chevron-circle-right"></i> Next&nbsp;</button>
        </div>
    </div>
    <!--===================================================================================== SLIDE 1 - First things first ==========================================================================================-->
    <div class="d-none bg-white rounded shadow slide-container" id="slide-1">
        <h2 class="text-center font-weight-bold text-gamelet mt-3">First things first</h2>
        <p class="text-center ml-5 mt-4 mr-5 tutorial-text">
            We need to show him what kind of mistake he has made. <br>Otherwise he can’t improve his reading skills. <br> Therefore, I am going to show you errors which are made while reading.
        </p>
        <div class="d-flex mt-5 justify-content-center">
            <img src="../../assets/img/kitty-avatars/svg/017-kitty-32.svg" width="15%" height="15%" class="mr-1">
            <img src="../../assets/img/kitty-avatars/svg/015-kitty-34.svg" width="15%" height="15%" class="ml-1">
        </div>
        <div class="button-wrapper">
            <button (click)="clickBack()" class="m-1 btn btn-lg btn-outline-secondary">Back <i class="fa fa-chevron-circle-left"></i></button>
            <button (click)="clickNext()" class="m-1 float-right btn btn-lg btn-outline-success">&nbsp;<i class="fa fa-chevron-circle-right"></i> Next&nbsp;</button>
        </div>
    </div>
    <!--===================================================================================== SLIDE 2 - Semantic error ==========================================================================================-->
    <div class="d-none bg-white rounded shadow slide-container" id="slide-2">
        <h2 class="text-center font-weight-bold text-info mt-3">Semantic errors</h2>
        <p class="text-center p-1 ml-5 mt-4 mr-5 tutorial-text">
            A semantic error is made if the spoken word does not match with the written word.<br> This could change the context of the story.
        </p>
        <h3 class="text-center mt-5 text-gamelet">Example</h3>
        <div class="row">
            <div class="col-12 text-center d-md-none">Given text: “The house is burning.” </div>
            <div class="col-md-4">
                <h5 class="text-center">Correct audio<br>
                    <audio controls width="90%" height="42px"><source src="../../assets/sample.mp3" type="audio/mp3"/></audio>
                </h5>
            </div>
            <div class="d-sm-none d-md-block col-md-4 tutorial-text text-center">
                <p class="text-success">Given text: “The house is burning.”</p>
                <p class="text-danger">Semantic error: “The horse is burning”</p>
                <img src="../../assets/img/kitty-avatars/svg/002-kitty-46.svg" width="45%" height="45%" class="ml-1">

            </div>
            <div class="col-md-4">
                <h5 class="text-center">Wrong audio<br>
                    <audio controls width="90%" height="42px"><source src="../../assets/sample.mp3" type="audio/mp3"/></audio>
                </h5>
            </div>
        </div>
        <div class="button-wrapper">
            <button (click)="clickBack()" class="m-1 btn btn-lg btn-outline-secondary">Back <i class="fa fa-chevron-circle-left"></i></button>
            <button (click)="clickNext()" class="m-1 float-right btn btn-lg btn-outline-success">&nbsp;<i class="fa fa-chevron-circle-right"></i> Next&nbsp;</button>
        </div>
    </div>
    <!--===================================================================================== SLIDE 3 - Syntactic error ==========================================================================================-->
    <div class="d-none bg-white rounded shadow slide-container" id="slide-3">
        <h2 class="text-center font-weight-bold text-success mt-3">Syntactic Error</h2>
        <p class="text-center p-1 ml-5 mt-4 mr-5 tutorial-text">
            A syntactic error is made if the spoken word does not match with the sentence structure.<br> This could change the content of the story.
        </p>
        <h3 class="text-center mt-5 text-gamelet">Example</h3>
        <div class="row">
            <div class="col-12 text-center d-md-none">Given text: “The house is burning.” </div>
            <div class="col-md-4">
                <h5 class="text-center">Correct audio<br>
                    <audio controls width="90%" height="42px"><source src="../../assets/sample.mp3" type="audio/mp3"/></audio>
                </h5>
            </div>
            <div class="d-sm-none d-md-block col-md-4 tutorial-text text-center">
                <p class="text-success">Given Text: “The telephone is ringing”</p>
                <p class="text-danger">Syntactic error: “The telephone is rigging”</p>
                <img src="../../assets/img/kitty-avatars/svg/002-kitty-46.svg" width="45%" height="45%" class="ml-1">

            </div>
            <div class="col-md-4">
                <h5 class="text-center">Wrong audio<br>
                    <audio controls width="90%" height="42px"><source src="../../assets/sample.mp3" type="audio/mp3"/></audio>
                </h5>
            </div>
        </div>
        <div class="button-wrapper">
            <button (click)="clickBack()" class="m-1 btn btn-lg btn-outline-secondary">Back <i class="fa fa-chevron-circle-left"></i></button>
            <button (click)="clickNext()" class="m-1 float-right btn btn-lg btn-outline-success">&nbsp;<i class="fa fa-chevron-circle-right"></i> Next&nbsp;</button>
        </div>
    </div>
    <!--===================================================================================== SLIDE 4 - Context error ==========================================================================================-->
    <div class="d-none bg-white rounded shadow slide-container" id="slide-4">
        <h2 class="text-center font-weight-bold text-primary mt-3">Context Error</h2>
        <p class="text-center p-1 ml-5 mt-4 mr-5 tutorial-text">
            The way the words are spoken do not match with the context of the story.<br>(e.g. by reading with an unsuitable emotion)
        </p>
        <h3 class="text-center mt-5 text-gamelet">Example</h3>
        <div class="row">
            <div class="col-12 text-center d-md-none">Given text: “The house is burning.” </div>
            <div class="col-md-4">
                <h5 class="text-center">Correct audio<br>
                    <audio controls width="90%" height="42px"><source src="../../assets/sample.mp3" type="audio/mp3"/></audio>
                </h5>
            </div>
            <div class="d-sm-none d-md-block col-md-4 tutorial-text text-center">
                <p class="text-success">Given Text: “ I am terrified” (saying it in a terrified way)</p>
                <p class="text-danger">Context error: “ I am terrified (saying it in a happy way)</p>
                <img src="../../assets/img/kitty-avatars/svg/002-kitty-46.svg" width="45%" height="45%" class="ml-1">

            </div>
            <div class="col-md-4">
                <h5 class="text-center">Wrong audio<br>
                    <audio controls width="90%" height="42px"><source src="../../assets/sample.mp3" type="audio/mp3"/></audio>
                </h5>
            </div>
        </div>
        <div class="button-wrapper">
            <button (click)="clickBack()" class="m-1 btn btn-lg btn-outline-secondary">Back <i class="fa fa-chevron-circle-left"></i></button>
            <button (click)="clickNext()" class="m-1 float-right btn btn-lg btn-outline-success">&nbsp;<i class="fa fa-chevron-circle-right"></i> Next&nbsp;</button>
        </div>
    </div>
    <!--===================================================================================== SLIDE 5 - Phrasing error ==========================================================================================-->
    <div class="d-none bg-white rounded shadow slide-container" id="slide-5">
        <h2 class="text-center font-weight-bold text-warning mt-3">Phrasing error</h2>
        <p class="text-center p-1 ml-5 mt-4 mr-5 tutorial-text">
            Reads in monotone with little sense of phrase boundaries; frequently reads word-by-word
        </p>
        <h3 class="text-center mt-5 text-gamelet">Example</h3>
        <div class="row">
            <div class="col-12 text-center d-md-none">Given text: “The house is burning.” </div>
            <div class="col-md-4">
                <h5 class="text-center">Correct audio<br>
                    <audio controls width="90%" height="42px"><source src="../../assets/sample.mp3" type="audio/mp3"/></audio>
                </h5>
            </div>
            <div class="d-sm-none d-md-block col-md-4 tutorial-text text-center">
                <p class="text-success">Given Text: “I am excited”</p>
                <p class="text-danger">Phrasing error: The sentence is read without excitement</p>
                <img src="../../assets/img/kitty-avatars/svg/002-kitty-46.svg" width="45%" height="45%" class="ml-1">

            </div>
            <div class="col-md-4">
                <h5 class="text-center">Wrong audio<br>
                    <audio controls width="90%" height="42px"><source src="../../assets/sample.mp3" type="audio/mp3"/></audio>
                </h5>
            </div>
        </div>
        <div class="button-wrapper">
            <button (click)="clickBack()" class="m-1 btn btn-lg btn-outline-secondary">Back <i class="fa fa-chevron-circle-left"></i></button>
            <button (click)="clickNext()" class="m-1 float-right btn btn-lg btn-outline-success">&nbsp;<i class="fa fa-chevron-circle-right"></i> Next&nbsp;</button>
        </div>
    </div>
    <!--===================================================================================== SLIDE 6 - Smoothness error ==========================================================================================-->
    <div class="d-none bg-white rounded shadow slide-container" id="slide-6">
        <h2 class="text-center font-weight-bold text-secondary mt-3">Smoothness error</h2>
        <p class="text-center p-1 ml-5 mt-4 mr-5 tutorial-text">
            Reads words as if simply to get them out.<br>Makes frequent extended pauses, hesitations, false starts, sound outs, repetitions, and/ or multiple attends
        </p>
        <h3 class="text-center mt-5 text-gamelet">Example</h3>
        <div class="row">
            <div class="col-12 text-center d-md-none">Given text: “The house is burning.” </div>
            <div class="col-md-4">
                <h5 class="text-center">Correct audio<br>
                    <audio controls width="90%" height="42px"><source src="../../assets/sample.mp3" type="audio/mp3"/></audio>
                </h5>
            </div>
            <div class="d-sm-none d-md-block col-md-4 tutorial-text text-center">
                <p class="text-success">Given text: “They watch TV in the living room” </p>
                <p class="text-danger">Smoothness error: The word “living room” is not read fluently</p>
                <img src="../../assets/img/kitty-avatars/svg/002-kitty-46.svg" width="45%" height="45%" class="ml-1">

            </div>
            <div class="col-md-4">
                <h5 class="text-center">Wrong audio<br>
                    <audio controls width="90%" height="42px"><source src="../../assets/sample.mp3" type="audio/mp3"/></audio>
                </h5>
            </div>
        </div>
        <div class="button-wrapper">
            <button (click)="clickBack()" class="m-1 btn btn-lg btn-outline-secondary">Back <i class="fa fa-chevron-circle-left"></i></button>
            <button (click)="clickNext()" class="m-1 float-right btn btn-lg btn-outline-success">&nbsp;<i class="fa fa-chevron-circle-right"></i> Next&nbsp;</button>
        </div>
    </div>
    <!--===================================================================================== SLIDE 7 - Tense error ==========================================================================================-->
    <div class="d-none bg-white rounded shadow slide-container" id="slide-7">
        <h2 class="text-center font-weight-bold text-danger mt-3">Tense Error</h2>
        <p class="text-center p-1 ml-5 mt-4 mr-5 tutorial-text">
            The spoken word is read out in a wrong tense, which could change the content of the story.
        </p>
        <h3 class="text-center mt-5 text-gamelet">Example</h3>
        <div class="row">
            <div class="col-12 text-center d-md-none">- Given text: “Reading is fun”</div>
            <div class="col-md-4">
                <h5 class="text-center">Correct audio<br>
                    <audio controls width="90%" height="42px"><source src="../../assets/sample.mp3" type="audio/mp3"/></audio>
                </h5>
            </div>
            <div class="d-sm-none d-md-block col-md-4 tutorial-text text-center">
                <p class="text-success">Given text: “Reading is fun”</p>
                <p class="text-danger">Tense error “Reading was fun”</p>
                <img src="../../assets/img/kitty-avatars/svg/002-kitty-46.svg" width="45%" height="45%" class="ml-1">

            </div>
            <div class="col-md-4">
                <h5 class="text-center">Wrong audio<br>
                    <audio controls width="90%" height="42px"><source src="../../assets/sample.mp3" type="audio/mp3"/></audio>
                </h5>
            </div>
        </div>
        <div class="button-wrapper">
            <button (click)="clickBack()" class="m-1 btn btn-lg btn-outline-secondary">Back <i class="fa fa-chevron-circle-left"></i></button>
            <button (click)="clickNext()" class="m-1 float-right btn btn-lg btn-outline-success">&nbsp;<i class="fa fa-chevron-circle-right"></i> Next&nbsp;</button>
        </div>
    </div>
    <!--===================================================================================== SLIDE 8 - Almost ready ==========================================================================================-->
    <div class="d-none bg-white rounded shadow slide-container" id="slide-8">
        <h2 class="text-center font-weight-bold text-gamelet mt-3">You are ready to start!</h2>
        <p class="text-center ml-5 mt-4 mr-5 tutorial-text">
            You have now learned about the error types. <br> You can always come back here if you are uncertain about them.<br> See you in the game!
        </p>
        <div class="d-flex mt-3 justify-content-center position-relative">
            <img src="../../assets/img/kitty-avatars/svg/050-kitty.svg" width="15%" height="15%" class="cat-move mt-4">
        </div>
        <div class="button-wrapper">
            <button (click)="clickBack()" class="m-1 btn btn-lg btn-outline-secondary">Back <i class="fa fa-chevron-circle-left"></i></button>
            <!-- <button (click)="clickNext()" class="m-1 float-right btn btn-lg btn-outline-success">&nbsp;<i class="fa fa-chevron-circle-right"></i> Next&nbsp;</button>
        </div>
    </div>
    <!--===================================================================================== SLIDE 9 - Start! ==========================================================================================-->
            <div class="d-none bg-white rounded shadow slide-container" id="slide-9">
                <h2 class="text-center font-weight-bold text-gamelet mt-3">Yay</h2>
                <p class="text-center ml-5 mt-4 mr-5 tutorial-text">
                    this is the magic secret slide. COngrats for finding it
                </p>
                <div class="d-flex mt-5 justify-content-center">
                    <img src="../../assets/img/kitty-avatars/svg/017-kitty-32.svg" width="15%" height="15%" class="mr-1">
                    <img src="../../assets/img/kitty-avatars/svg/015-kitty-34.svg" width="15%" height="15%" class="ml-1">
                </div>
                <div class="button-wrapper">
                    <button (click)="clickBack()" class="m-1 btn btn-lg btn-outline-secondary">Back <i class="fa fa-chevron-circle-left"></i></button>
                </div>
            </div>

        </div>