.tile {
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, .15);
    width: 18rem;
    height: 18rem;
    backdrop-filter: blur(3px);
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 14px;
    transition: 0.1s;
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.tile-blue {
    background: rgba(0, 89, 255, 0.3);
}

.tile-red {
    background: rgba(255, 51, 0, 0.3);
}

.tile-yellow {
    background: rgba(255, 230, 0, 0.3);
}

.tile-green {
    background: rgba(115, 255, 0, 0.3);
}

.tile-grey {
    background: rgba(156, 156, 156, 0.3);
}

.dynamic-tile {
    background: rgba(221, 221, 221, 0.3);
}

.tile.dynamic-tile:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.55);
    color: #FF8300;
    transform: scale(0.94);
}

hr {
    border: none;
    height: 2px;
    /* Set the hr color */
    color: rgba(139, 139, 139, 0.5);
    /* old IE */
    background-color: rgba(139, 139, 139, 0.5);
    /* Modern Browsers */
}

p {
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
}