<app-feedback-message [feedbackMessage]="feedbackMessage" (durationReached)="resetFeedbackMessage()"></app-feedback-message>
<h1 class="mb-0 pb-0">Tutorial Management</h1>
<div class="window container-fluid">
    <div class="user-tile heading-tile">
        <ul class="detail-list">
            <li class="heading-detail"><button [routerLink]="['/admin/tutorialeditor/new']" class="create-button"><i class="fa fa-user-plus"></i> Create Tutorial</button></li>
            <li class="heading-detail"><input type="text" #searchInput placeholder="Search" (input)="filterItem(searchInput.value)"></li>
        </ul>
    </div>
    <ng-container *ngFor="let tutorial of filteredTutorials; even as isEven">
        <div [ngClass]="{'uneven-tile': !isEven}" class="user-tile">
            <ul class="detail-list">
                <li class="detail">
                    <h4>{{tutorial.tutorialTitle}}</h4>
                </li>
                <li class="detail">
                    <h4>Position: {{tutorial.position}}</h4>
                </li>
                <li class="detail">
                    <h4>Target: {{tutorial.targetTextTitle}}</h4>
                </li>
                <li class="detail">
                    <h4><a [routerLink]="['/admin/tutorialeditor', tutorial._id]" class="user-btn"><i class="fa fa-edit"></i></a><a class="user-btn"><i (click)="onDeleteClick(tutorial)" class="text-danger ml-1 fa fa-trash"></i></a></h4>
                </li>
            </ul>
        </div>
    </ng-container>


</div>
<app-loading-animation *ngIf="!this.loaded"></app-loading-animation>

<div [ngClass]="{'modal-active': bShowModal}" class="admin-modal-bg">
    <div class="admin-modal shadow">
        <h3>Do you really want to delete the tutorial "{{currentTutorial?.tutorialTitle}}"? You can't restore the data afterwards!</h3>
        <div class="row mt-4">
            <div class="col-sm-1 col-md-4"></div>
            <div class="col-sm-5 col-md-2"><button (click)="hideModal(); onDeleteConfirm();" class="shadow m-1 yes-button admin-button">Yes</button></div>
            <div class="col-sm-5 col-md-2"><button (click)="hideModal()" class="shadow m-1 no-button admin-button">No</button></div>
            <div class="col-sm-1 col-md-4"></div>
        </div>
    </div>
</div>