<div class="row">
    <div class="col-md-3">
        <div id="prompt-1" class="d-flex justify-content-center" (click)="navigateToTutorial($event, 1)">
            <div class="prompt level-1">
                <span></span>
                <span></span>
                <span></span>
                <span id="scaling-bg-1" class="scaling-bg level-1"></span>
                <div class="prompt-content text-center">
                    <div id="prompt-text" class="text-center">
                        <h3 class="font-weight-bold pb-1">Level 1</h3>
                    </div>
                    <div class="super-cat-wrapper" *ngIf="this.currLevel === 1">
                        <img src="../../assets/img/kitty-avatars/svg/036-kitty-14.svg" id="super-cat">
                    </div>
                    <i *ngIf="!(this.currLevel === 1)" [ngClass]="this.currLevel > 1 ?  'fa-check-circle' : 'fa-lock'" class="fa fa-5x"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="d-flex pt-5">
            <div id="prompt-2" class="prompt level-2 mt-5" (click)="navigateToTutorial($event, 2)">
                <span></span>
                <span></span>
                <span></span>
                <span id="scaling-bg-2" class="scaling-bg level-2"></span>
                <div class="prompt-content text-center">
                    <div id="prompt-text" class="text-center">
                        <h3 class="font-weight-bold pb-1">Level 2</h3>
                    </div>
                    <div class="super-cat-wrapper" *ngIf="this.currLevel === 2">
                        <img src="../../assets/img/kitty-avatars/svg/036-kitty-14.svg" id="super-cat">
                    </div>
                    <i *ngIf="!(this.currLevel === 2)" [ngClass]="this.currLevel > 2 ?  'fa-check-circle' : 'fa-lock'" class="fa fa-5x"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="d-flex justify-content-center">
            <div id="prompt-3" class="prompt level-3 mt-4" (click)="navigateToTutorial($event, 3)">
                <span></span>
                <span></span>
                <span></span>
                <span id="scaling-bg-3" class="scaling-bg level-3"></span>
                <div class="prompt-content text-center">
                    <div id="prompt-text" class="text-center">
                        <h3 class="font-weight-bold pb-1">Level 3</h3>
                    </div>
                    <div class="super-cat-wrapper" *ngIf="this.currLevel === 3">
                        <img src="../../assets/img/kitty-avatars/svg/036-kitty-14.svg" id="super-cat">
                    </div>
                    <i *ngIf="!(this.currLevel === 3)" [ngClass]="this.currLevel > 3 ?  'fa-check-circle' : 'fa-lock'" class="fa fa-5x"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 pt-5">
        <div class="d-flex mt-5 pt-5">
            <div id="prompt-4" class="prompt level-4 mt-5" (click)="navigateToTutorial($event, 4)">
                <span></span>
                <span></span>
                <span></span>
                <span id="scaling-bg-4" class="scaling-bg level-4"></span>
                <div class="prompt-content text-center">
                    <div id="prompt-text" class="text-center">
                        <h3 class="font-weight-bold pb-1">Level 4</h3>
                    </div>
                    <div class="super-cat-wrapper" *ngIf="this.currLevel === 4">
                        <img src="../../assets/img/kitty-avatars/svg/036-kitty-14.svg" id="super-cat">
                    </div>
                    <i *ngIf="!(this.currLevel === 4)" [ngClass]="this.currLevel > 4 ?  'fa-check-circle' : 'fa-lock'" class="fa fa-5x"></i>
                </div>
            </div>
        </div>
    </div>
</div>