<h1 class="mb-0 pb-0">User Editor</h1>
<button (click)="onSaveClick()" class="create-button mt-2">
    <i class="fa fa-save fa-lg"></i>
    Save User
</button>
<div class="row">
    <div class="tile-green tile p-3">
        <h2 class="text-center">General Information</h2>
    </div>
</div>
<div class="window p-3">
    <h4 class="input-heading mt-2">&nbsp;Email:</h4>
    <input [(ngModel)]="user.password" name="title" type="email" required>

    <ng-container *ngIf="bPasswordDialogue">
        <h4 class="input-heading mt-2">&nbsp;Current Password:</h4>
        <input [(ngModel)]="user.password" name="title" type="password">
        <h4 class="input-heading mt-2">&nbsp;New Password:</h4>
        <input [(ngModel)]="user.password" name="title" type="password">
        <h4 class="input-heading mt-2">&nbsp;Confirm Password:</h4>
        <input [(ngModel)]="user.password" name="title" type="password">
    </ng-container>
</div>
<app-loading-animation *ngIf="!bLoaded"></app-loading-animation>
<app-feedback-message [feedbackMessage]="feedbackMessage" (durationReached)="resetFeedbackMessage()">