<div class="row">
    <div *ngFor="let number of numbers" class="col-md-6 col-lg-3">
        <div id="prompt-{{number}}" class="d-flex justify-content-center" (click)="navigateToTutorial(number)">
            <div class="prompt level-{{number}}" [ngClass]="{'active-prompt': currLevel === number && bShowActivePrompt}">
                <span></span>
                <span></span>
                <span></span>
                <span id="scaling-bg-{{number}}" class="scaling-bg level-{{number}}"></span>
                <div class="prompt-content text-center">
                    <div id="prompt-text" class="text-center">
                        <h3 class="font-weight-bold pb-1">Level {{number}}</h3>
                    </div>
                    <div class="super-cat-wrapper" *ngIf="this.currLevel === number">
                        <img src="../../assets/img/kitty-avatars/svg/036-kitty-superhero.svg" id="super-cat">
                    </div>
                    <i *ngIf="!(this.currLevel === number)"
                        [ngClass]="this.currLevel > number ? 'fa-check-circle' : 'fa-lock'"
                        class="fa fa-5x"
                    ></i>
                </div>
            </div>
        </div>
    </div>
</div>