<!--header start-->

<nav class="navbar navbar-expand-md bg-white border-bottom shadow" id="header">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
    <a class="navbar-brand mr-0" href="#">
        <img src="../../assets/img/cc-logo.png" width="314" height="70" class="d-inline-block align-center rounded p-1" alt="">
    </a>
    <h2 class="ml-0"><img src="../../assets/img/kitty.svg" width="70" height="70" class="d-inline-block align-center rounded p-1" alt=""></h2>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a [routerLink]="['/game']" class="btn btn-lg btn-primary mr-1" routerLinkActive="router-link-active">
                  Login
                </a>
            </li>
        </ul>
    </div>
</nav>
<div class="starting-page">
    <!--header end-->
    <!--content start-->
    <div class="row banner-container shadow-sm">
        <div class="col-12">
            <h1 class="text-center mt-5 text-white">It's not a bird. It's not a bat. It's Corrector Cat<i class="fa text-gamelet ml-2 fa-paw"></i></h1>
        </div>
        <div class="col-4">
        </div>
        <div class="col-3">
            <div class="container super-cat-container">
                <div (click)="onSuperCatClick()" [ngClass]="{'super-cat-fly': catFlying === true}" class="super-cat">
                    <img *ngIf="!superCatImage2" src="../../assets/img/kitty-avatars/svg/036-kitty-superhero.svg" width="400" height="400">
                    <img *ngIf="superCatImage2" src="../../assets/img/kitty-avatars/svg/028-kitty-astronaut.svg" width="400" height="400">
                </div>
            </div>
        </div>
        <div class="col-5">
        </div>
    </div>
    <div class="row pl-5 pr-5">
        <div class="col-12">
            <h1 class="text-center mt-3 text-gamelet">Stop learning. Start teaching!</h1>
           <!-- <p class="normal-text  text-center text-secondary">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata
                sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
                et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed
                diam voluptua.
            </p>-->
            <br>
        </div>
        <div class="col-12">
            <app-intro-carousel></app-intro-carousel>
        </div>
        <!-- <div class="col-md-2 col-xs-12"></div>
        <div class="col-md-6 rounded shadow">
            <ul class="list-unstyled text-center text-gamelet normal-text">
                <li class="text-left">
                    <h3>Step 1</h3>
                </li>
                <li class="mx-auto p-5 d-block">Listen to our steadily growing online library of audio books with interesting factual texts and short stories.</li>
            </ul>
        </div>
        <div class="col-md-2 bg-light p-5 rounded shadow">
            <img class="mx-auto d-block" src="../../assets/img/kitty-avatars/svg/015-kitty-earphones.svg" width="200" height="200">
        </div>
        <div class="col-md-2 col-xs-12"></div>

        <div class="col-md-12 col-xs-12"><br></div>

        <div class="col-md-2 col-xs-12"></div>
        <div class="col-md-2 bg-light p-5 rounded shadow">
            <img class="mx-auto d-block" src="../../assets/img/kitty-avatars/svg/031-kitty-detective.svg" width="200" height="200">
        </div>
        <div class="col-md-6 rounded shadow">
            <ul class="list-unstyled text-center text-gamelet normal-text">
                <li class="text-left">
                    <h3>Step 2</h3>
                </li>
                <li class="mx-auto p-5 d-block">Listen carefully! The reader will make many different mistakes.<br>Find them and earn points!</li>
            </ul>
        </div>
        <div class="col-md-2 col-xs-12"></div>

        <div class="col-md-12 col-xs-12"><br></div>

        <div class="col-md-2 col-xs-12"></div>
        <div class="col-md-6 rounded shadow">
            <ul class="list-unstyled text-center text-gamelet normal-text">
                <li class="text-left">
                    <h3>Step 3</h3>
                </li>
                <li class="mx-auto p-5 d-block">The game will ask you what mistake the reader made and will give you different options to choose from. If your answer is correct, you will earn extra points!</li>
            </ul>
        </div>
        <div class="col-md-2 bg-light p-5 rounded shadow">
            <img class="mx-auto d-block" src="../../assets/img/kitty-avatars/svg/004-kitty-idea.svg" width="200" height="200">
        </div>
        <div class="col-md-2 col-xs-12"></div>

        <div class="col-md-12 col-xs-12"><br></div>

        <div class="col-md-2 col-xs-12"></div>
        <div class="col-md-2 bg-light p-5 rounded shadow">
            <img class="mx-auto d-block" src="../../assets/img/kitty-avatars/svg017-kitty-reading.svg" width="200" height="200">
        </div>
        <div class="col-md-6 rounded shadow">
            <ul class="list-unstyled text-center text-gamelet normal-text">
                <li class="text-left">
                    <h3>Step 4</h3>
                </li>
                <li class="mx-auto p-5 d-block">If you corrected the reader enough times, you can listen to the book without him making mistakes. You can also do fun quizzes about the books and earn even more points!</li>
            </ul>
        </div>
        <div class="col-md-2 col-xs-12"></div>

        <div class="col-md-12 col-xs-12"><br></div>

        <div class="col-md-2 col-xs-12"></div>
        <div class="col-md-6 rounded shadow">
            <ul class="list-unstyled text-center text-gamelet normal-text">
                <li class="text-left">
                    <h3>Step 5</h3>
                </li>
                <li class="mx-auto p-5 d-block">Spend your points to unlock more challenging books and become a masterful corrector cat.<br><strong>Purrrfect!</strong></li>
            </ul>
        </div>
        <div class="col-md-2 bg-light p-5 rounded shadow">
            <img class="mx-auto d-block" src="../../assets/img/kitty-avatars/svg/036-kitty-superhero.svg" width="200" height="200">
        </div>
        <div class="col-md-2 col-xs-12"></div>
    </div>
-->
</div>
    <div class="row bg-light border-top mt-5 mt-5">
        <div class="col-5 row">
            <div class="col-sm-12 my-auto">
                <div style="font-size: 1.5em;" class="card-block text-gamelet mx-auto">
                    <a class="ml-5"><span>Impressum </span></a>
                    <a class="ml-5"><span>Datenschutz </span></a>
                    <a class="ml-5"><span>Kontakt</span></a>
                </div>
            </div>
        </div>
        <div class="col-7">
            <div class="row">
                <div class="col-6">
                    <img src="../../assets/img/erasmus.png" class="mt-4 ml-3" alt="">
                </div>
                <div class="col-6">
                    <a href="https://gamelet.eu"><img src="../../assets/img/gameletFullLogo.PNG" width="497" height="135" alt=""></a>
                </div>
            </div>
        </div>
    </div>