.window {
    padding: 0;
    background: rgba(221, 221, 221, 0.35);
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, .15);
    backdrop-filter: blur(5px);
    margin-top: 0.5rem;
    border-radius: 14px;
    transition: 0.1s;
}

.flex-display {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.tile {
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, .15);
    backdrop-filter: blur(3px);
    margin: 1rem;
    border-radius: 14px;
}

.chunk-wrapper {
    background: rgba(221, 221, 221, 0.5);
    border-radius: 14px;
    width: 95%;
}

.chunk-tile {
    background: rgba(221, 221, 221, 0.65);
    border-radius: 14px;
    transition: all 0.3s;
}

.extended {
    transition: all 0.3s;
    width: 100%;
}

.inner-tile {
    background: rgba(215, 215, 215, 0.8);
    border-radius: 14px;
    width: 95%;
}

.error-tile {
    background: rgb(230, 230, 230);
    border-radius: 14px;
    width: 95%;
}

.heading-tile {
    padding: 5px;
    background: rgba(129, 129, 129, 0.4);
}

.input-heading {
    text-align: left;
    width: 100%;
    margin-bottom: 0;
}

.expand-btn {
    padding: 8px;
    background: rgba(129, 129, 129, 0.4);
    border-radius: 14px;
    border: none;
    transition: 0.2s;
}

.expand-btn:hover {
    cursor: pointer;
    background: rgba(129, 129, 129, 0.4);
    transform: scale(0.9);
    border-radius: 14px;
}

input {
    width: 95%;
    text-align: left;
    padding: 14px;
    border: 0;
    background: rgba(68, 68, 68, 0.151);
    border: none;
    border-radius: 14px;
    outline: none;
    font-size: 20px;
    transition: 0.25s;
}

input:focus {
    width: 98%;
    color: white;
    background-color: rgba(68, 68, 68, 0.356);
    border: none;
}

select {
    width: 50%;
    text-align: left;
    padding: 14px;
    border: 0;
    background: rgba(68, 68, 68, 0.151);
    border: none;
    border-radius: 14px;
    outline: none;
    font-size: 20px;
    transition: 0.25s;
}

select:focus {
    width: 50%;
    color: white;
    background-color: rgba(68, 68, 68, 0.356);
    border: none;
}

textarea {
    width: 95%;
    text-align: left;
    padding: 14px;
    border: 0;
    background: rgba(68, 68, 68, 0.151);
    border: none;
    border-radius: 14px;
    outline: none;
    font-size: 20px;
    transition: 0.25s;
}

textarea:focus {
    width: 98%;
    color: white;
    background-color: rgba(68, 68, 68, 0.356);
    border: none;
}

.check {
    width: 2%;
}

.check:focus {
    width: 2%;
}

.trash-btn:hover {
    cursor: pointer;
    background: rgba(129, 129, 129, 0.4);
    transform: scale(0.9);
    border-radius: 14px;
}

.trash-btn:hover i {
    transition: 0.2s;
    transform: scale(0.9);
}

.user-tile {
    border-radius: 14px 14px 0 0;
    width: 100%;
    backdrop-filter: blur(3px);
    /* border-radius: 14px;*/
}

.create-button {
    padding: 12px;
    display: block;
    text-align: center;
    background-color: rgba(4, 216, 4, 0.534);
    border: none;
    border-radius: 14px;
    color: white;
    font-weight: 700;
    transition: 0.25s;
}

.create-button:hover {
    transform: scaleX(1.1);
    background-color: rgba(4, 216, 4, 0.904);
}

.scene-image {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    transform: scale(0.85);
    transition: all 0.2s;
}

.scene-image:hover {
    cursor: pointer;
    transform: scale(0.95);
    transition: all 0.2s;
}

input[type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

input[type=radio]:checked+.scene-image {
    border: 7px solid rgb(255, 145, 0);
    transition: all 0.2s;
    transform: scale(1.03);
}

.custom-file-upload {
    width: 30%;
    padding: 14px;
    border: 0;
    margin-top: 1%;
    margin-bottom: 1%;
    background: rgba(68, 68, 68, 0.151);
    border: none;
    border-radius: 14px;
    outline: none;
}

input[type=file] {
    display: none;
}

.custom-file-upload:hover {
    background: rgba(68, 68, 68, 0.45);
    color: #fff;
}

.progress-wrap {
    background: rgba(68, 68, 68, 0.45);
    width: 35%;
    height: 3vh;
    display: flex;
    align-items: center;
}

.progress-wrap div {
    height: 100%;
}

.cat-land {
    -webkit-animation: land 0.7s;
    animation: land 0.7s;
}

.cat-move {
    -webkit-animation: cat-movement 2s infinite;
    animation: cat-movement 2s infinite;
}

.cat-super {
    -webkit-animation: action 1.5s infinite alternate;
    animation: action 1.5s infinite alternate;
    cursor: pointer;
}

@-webkit-keyframes land {
    0% {
        transform: translateY(-500);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes land {
    0% {
        transform: translateY(-500px);
    }
    100% {
        transform: translateY(0);
    }
}

@-webkit-keyframes cat-movement {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(8deg);
    }
    75% {
        transform: rotate(-8deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes cat-movement {
    33% {
        transform: rotate(8deg);
    }
    66% {
        transform: rotate(-8deg);
    }
}

@keyframes decover-everything {
    0% {
        transform: scale(80);
    }
    100% {
        transform: scale(1);
    }
}

@-webkit-keyframes action {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(30px);
    }
    100% {
        transform: translateY(-30px);
    }
}

@keyframes action {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(30px);
    }
    100% {
        transform: translateY(-30px);
    }
}

.fade-in {
    -webkit-animation: fade-in 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.fade-out {
    -webkit-animation: fade-out 0.5s ease-out both;
    animation: fade-out 0.5s ease-out both;
}


/* ----------------------------------------------
 * Generated by Animista on 2020-1-22 17:42:54
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */


/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}