<ul class="menu_items" *transloco="let t; read: 'sidebar'">
    <li><a (click)="goDashboard()"><i class="icon fas fa-tachometer-alt fa-2x"></i>{{t('dashboard')}}</a></li>
    <li><a (click)="goBookShelf()"><i class="icon fa fa-book fa-2x"></i>{{t('bookshelf')}}</a></li>
    <li><a (click)="goBookStore()"><i class="icon fa fa-store fa-2x"></i>{{t('bookstore')}}</a></li>
    <li><a (click)="goQuiz()"><i class="icon fa fa-bug fa-2x"></i>Debug Quiz</a></li>
    <li><a (click)="goGameView()"><i class="icon fa fa-bug fa-2x"></i>Debug Game</a></li>
</ul>
<!-- !Sidebar old!
<div id="sidebar-container" class="sidebar-expanded d-none d-md-block">
    <ul class="list-group">
        <a (click)="goDashBoard()" class="list-group-item" routerLinkActive="active-tab">
            <div class="d-flex w-100 justify-content-start align-items-center">
                <span class="fa fa-clipboard fa-fw mr-3"></span>
                <span class="menu-collapsed">Dashboard</span>
                <span class="submenu-icon ml-auto"></span>
            </div>
        </a>
        <a (click)="goBookShelf()" routerLinkActive="active-tab" class="list-group-item">
            <div class="d-flex w-100 justify-content-start align-items-center">
                <span class="fa fa-book fa-fw mr-3"></span>
                <span class="menu-collapsed">My Books</span>
            </div>
        </a>
        <a (click)="goBookStore()" routerLinkActive="active-tab" class="list-group-item">
            <div class="d-flex w-100 justify-content-start align-items-center">
                <span class="fa fa-store fa-fw mr-3"></span>
                <span class="menu-collapsed">Bookstore</span>
            </div>
        </a>
        <a (click)="goQuiz()" routerLinkActive="active-tab" class="list-group-item">
            <div class="d-flex w-100 justify-content-start align-items-center">
                <span class="fa fa-question fa-fw mr-3"></span>
                <span class="menu-collapsed">Quiz</span>
            </div>
        </a>
        <a (click)="goWiki()" routerLinkActive="active-tab" class="list-group-item">
            <div class="d-flex w-100 justify-content-start align-items-center">
                <span class="fab fa-wikipedia-w fa-fw mr-3"></span>
                <span class="menu-collapsed">Wiki</span>
            </div>
        </a>
        <a (click)="goGameView()" routerLinkActive="active-tab" class="list-group-item">
            <div class="d-flex w-100 justify-content-start align-items-center">
                <span class="fa fa-bug fa-fw mr-3"></span>
                <span class="menu-collapsed">[Debug] Game</span>
            </div>
        </a>
    </ul>

    <div class="fixed-bottom ml-5">
        <a href="" class="text-white">Impressum</a><br>
        <a href="" class="text-white">Datenschutz</a><br>
        <a href="" class="text-white">Kontakt</a>
    </div>
</div>
-->