<div class="m-5 p-1 rounded">
    <h4 class="text-center text-light mt-2">
        <label>
            <small class="mb-2">Skript:</small>
            <p class="bg-light text-gamelet rounded p-2 shadow">Die Tiefen des unerforschten Meeres scheinen immens. Wann wird wohl das nächste Tier entdeckt, das einen neuen Größenrekord aufstellt?</p>
        </label>
        <button (click)="playAudio()" class="shadow btn btn-dark secondaryBtns"><span class="fa fa-lg fa-volume-up"></span></button>
    </h4>
    <div class="center-content mt-2 text-center">
        <label class="m-3 bg-light p-3 rounded shadow">
            <p>Wörter vertauscht</p>
            <input type="radio" name="optradio" id="" class="form-control">
        </label>
        <label class="m-3 bg-light p-3 rounded shadow">
            <p>Wort falsch gelesen</p>
            <input type="radio" name="optradio" id="" class="form-control">
        </label>
        <label class="m-3 bg-light p-3 rounded shadow">
            <p>Wort ausgelassen</p>
            <input type="radio" name="optradio" id="" class="form-control">
        </label>
        <!--<label class="m-3 bg-light p-3 rounded shadow">
            <p>Answertext 04 to Question</p>
            <input type="radio" name="optradio" id="" class="form-control">
        </label>-->
    </div>
    <div class="center-content mt-3 container-fluid">
        <button class="btn btn-lg btn-success shadow">Bestätigen</button>
    </div>
</div>