<div class="tutorial-wrapper bg-info">
    <div class="bg-white rounded shadow slide-container" id="slide-0">
        <h2 class="text-center font-weight-bold text-gamelet mt-3">Welcome to Corrector Cat!</h2>
        <p class="text-center ml-5 mt-4 mr-5 tutorial-text">
            My name is Corrector Cat and I am happy that you’re joining me on my adventure. <br>Let’s sink in into the world of stories. We will read and listen to different stories. <br>But the reader makes many mistakes. <br><br>Help me to correct him,
            so he can become a purrrfect reader as well.
        </p>
        <div class="d-flex mt-3 justify-content-center position-relative">
            <img src="../../assets/img/kitty-avatars/svg/050-kitty.svg" width="15%" height="15%" class="cat-land mt-4" id="welcome-cat">
            <span id="scaling-bg" class="intro-animation"></span>
        </div>
        <div class="button-wrapper">
            <!--<button class="m-1 btn btn-lg btn-outline-secondary">Back <i class="fa fa-chevron-circle-left"></i></button>-->
            <button (click)="clickNext()" class="m-1 float-right btn btn-lg btn-outline-success">&nbsp;<i class="fa fa-chevron-circle-right"></i> Next&nbsp;</button>
        </div>
    </div>
</div>