.hidden {
    visibility: hidden;
}

.snippet-container {
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
#game-container {
    position: relative;
}
#game-container::after {
    content: attr(data-error);
    color: #fff;
    background-color: rgba(192, 21, 21, 0.8);
    text-align: center;
    padding: 12px;
    font-size: 1.2em;
    font-weight: 600;
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%) translateY(200px);
    border-radius: 10px;
    opacity: 0;
    transition: all 0.3s;
}
.error-active#game-container::after {
   opacity: 1;
   transform: translateX(-50%) translateY(0);
   transition: all 0.3s;
}




.snippet-container {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 68vh;
    background-color: #fdfdfd;
}

.controlbar {
    min-height: 18vh;
}

.snippet-active {
    background-color: rgba(255, 132, 0, 0.92);
    /*color: #fff;*/
}

#errorMessage {
    position: absolute;
    background-color: rgba(167, 40, 40, 0.92);
    bottom: 120%;
}

.snippet {
    background-color: rgba(255, 255, 255, 0.92);
    color: rgba(129, 129, 129, 0.637)
}

.snippet-found {
    background-color: rgba(40, 167, 70, 0.92);
    color: #fff;
}

.snippet-missed {
    background-color: rgba(167, 40, 40, 0.92);
    color: #fff;
}

.game-button {
    width: 250px;
    height: 100px;
    font-size: 1.5em;
    background-color: #fff;
    border-radius: 10px;
    color: #555;
    border: 3px solid #fa0;
    transition: all 0.2s;
}

.game-button:hover {
    background-color: #fa0;
    border-radius: 10px;
    color: #fff;
    border: none;
}

.gameview-modal-bg {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .35);
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.15s;
}

.modal-active {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.15s;
}


/* modal-active is defined in styles.css */

.gameview-modal {
    width: 50rem;
    height: 50rem;
    border-radius: 14px;
    padding: 5rem;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    transform: scale(0);
    transition: transform 0.3s ease-in;
    position: relative
}

.question-modal {
    width: 55rem;
    height: 55rem;
}

.question-modal h1 {
    font-size: 3rem;
    font-weight: bolder;
}

.end-modal h1 {
    font-size: 3rem;
    font-weight: bolder;
}

.question-modal h2 {
    font-size: 2.7rem;
    font-weight: 700;
    -webkit-text-stroke: 1px #fff;
}

.modal-active .gameview-modal {
    transform: scale(1);
    transition: transform 0.3s ease-in;
}

.gameview-modal span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.gameview-modal.settings-modal span {
    background: rgba(255, 251, 239, 0.9);
}

.gameview-modal.start-modal span {
    background: rgba(255, 179, 0, 0.9);
}

.gameview-modal.question-modal span {
    background: rgba(0, 183, 255, 0.9);
}

.gameview-modal.end-modal span {
    background: rgba(177, 235, 110, 0.9);
}

.gameview-modal span:nth-child(1) {
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
}

.gameview-modal span:nth-child(2) {
    transform: rotate(70deg);
    border-radius: 38% 63% 62% 37% / 41% 44% 56% 59%;
}

.gameview-modal span:nth-child(3) {
    transform: rotate(130deg);
    border-radius: 28% 63% 62% 37% / 41% 54% 56% 59%;
}

.gameview-modal-content {
    z-index: 1;
}

.gameview-modal-btn {
    width: 25%;
    margin: 5px;
}