<div class="c-wrapper">
    <div class="box">
        <h1><img src="../../assets/img/cc-logo.png"></h1>
        <span style="--i:1;"><img src="../../assets/img/kitty-avatars/svg/015-kitty-34.svg"></span>
        <span style="--i:2;"><img src="../../assets/img/kitty-avatars/svg/031-kitty-19.svg"></span>
        <span style="--i:3;"><img src="../../assets/img/kitty-avatars/svg/004-idea.svg"></span>
        <span style="--i:4;"><img src="../../assets/img/kitty-avatars/svg/017-kitty-32.svg"></span>
        <span style="--i:5;"><img src="../../assets/img/kitty-avatars/svg/036-kitty-14.svg"></span>

    </div>
</div>