<div class="c-wrapper">
    <div class="box">
        <h1><img src="{{baseUrl}}/assets/img/cc-logo.png"></h1>
        <span style="--i:1;"><img src="{{baseUrl}}/assets/img/kitty-avatars/svg/015-kitty-earphones.svg"></span>
        <span style="--i:2;"><img src="{{baseUrl}}/assets/img/kitty-avatars/svg/031-kitty-detective.svg"></span>
        <span style="--i:3;"><img src="{{baseUrl}}/assets/img/kitty-avatars/svg/004-kitty-idea.svg"></span>
        <span style="--i:4;"><img src="{{baseUrl}}/assets/img/kitty-avatars/svg/017-kitty-reading.svg"></span>
        <span style="--i:5;"><img src="{{baseUrl}}/assets/img/kitty-avatars/svg/036-kitty-superhero.svg"></span>

    </div>
</div>